<div>home page</div>
<table class="table">
    <thead>
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Ingredients separated by comma</th>
        <th>Price prepended by currency
            sign
        </th>
        <th>
            Add to cart button
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in $ctrl.data track by item.id">
        <th scope="row"
            ng-bind="item.id">
        </th>
        <td ng-bind="item.name"></td>
        <td ng-bind="item.ingredients">Otto</td>
        <td ng-bind="item.price"></td>
        <td ng-click="$ctrl.onAddItem(item)">
            <a>add Item</a>
        </td>
    </tr>
    </tbody>
</table>